.hangman_grid {
    display: grid;
    grid-template-areas:
        "hangman   overview"
        "form      form"
    ;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
}

.hangman {
    grid-area: hangman;
    margin: 0;
    width: 200px;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0 20px 0 0;
    font-family: menlo, consolas, monospace;
}

.hangman_overview {
    grid-area: overview;
    align-self: center;
}

.hangman_word {
    font-weight: bold;
    letter-spacing: .2rem;
    font-family: menlo, consolas, monospace;
}

.hangman_tally {
    font-weight: bold;
}

.hangman_input_letter {
    display: inline;
    max-width: 200px;
    margin-right: 16px;
}

.hangman_grid form {
    grid-area: form;
}