<h1>Ongoing Hangman Game</h1>

<div class="hangman_grid">
    <pre class="hangman">
        <%= render_hangman(@tally.turns_left) %>
    </pre>

    <%= render "_tally.html", tally: @tally %>
    <%= render_controls(@conn, @tally.state) %>
</div>
